.lp-header{
  padding: 0;
  margin: 0;
  font-family: sans-serif;

}
.maxWidth py-sm-4 py-0 {
  background-color: #070707 !important;
}

.btn-top-home{
  background: linear-gradient(to right, rgb(8 119 147),rgb(49 85 104))!important;
  width: -webkit-fill-available;
  margin-left: 5px;
  border-radius: 16px;
  text-align: center;
  color: rgb(255 255 255);
}
.btn-top-install{
  background: linear-gradient(to right, rgb(8 119 147),rgb(49 85 104))!important;
  width: -webkit-fill-available;
  margin-right: 5px;
  border-radius: 16px;
  text-align: center;
  color: rgb(255 255 255);
}
.btn-top-install-test{
  background: linear-gradient(to right, rgb(8 119 147),rgb(49 85 104))!important;
  width: -webkit-fill-available;
  margin-right: 5px;
  border-radius: 16px;
  text-align: center;
  color: rgb(255 255 255);
}
.btn-top-activation{
  background: linear-gradient(to right, rgb(8 119 147),rgb(49 85 104))!important;
  width: -webkit-fill-available;
  margin-top: -2px;
  margin-bottom: -5px;
  border-radius: 16px;
  text-align: center;
  color: rgb(255 255 255);
}
.card{
  border-radius: 2px solid #22c6f8;
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-bottom: 2rem;
  flex-direction: column;
  border-radius: 0.25rem;
  background-color: rgba(20, 60, 255);
  padding: 1.5rem;
  text-align: center;
}
.title {
font-size: 1.5rem;
line-height: 2rem;
font-weight: 700;
color: #fff
}

.price {
font-size: 3.75rem;
line-height: 1;
font-weight: 700;
color: #fff
}

.desc {
margin-top: 0.75rem;
margin-bottom: 0.75rem;
line-height: 1.625;
color: #FFF;
}

.lists {
margin-bottom: 1.5rem;
flex: 1 1 0%;
color: rgba(156, 163, 175, 1);
}
span {
  color: #ffffff !important;
}
.lists .list {
margin-bottom: 0.5rem;
display: flex;
margin-left: 0.5rem
}

.lists .list svg {
height: 1.5rem;
width: 1.5rem;
flex-shrink: 0;
margin-right: 0.5rem;
color: #1eaffb;
}

.action {
text-decoration: none;
border: none;
outline: none;
display: inline-block;
border-radius: 15px !important;
background-color: #d74aa4 ;
background-image: linear-gradient(to right, rgb(0, 0, 0),rgb(0, 0, 0))!important;
padding-left: 1.25rem;
padding-right: 1.25rem;
padding-top: 0.75rem;
padding-bottom: 0.75rem;
text-align: center;
font-weight: 600;
letter-spacing: 0.05em;
color: rgb(255 255 255);
}
h2.text-center {
  color: rgb(0, 47, 255) !important;
}
h4 {
  color: rgb(0, 51, 255) !important;
}






.mazenIMG{
  margin-bottom: 10px;
  border-style: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

img.mazenimg2.w-100 {
  margin-bottom: 10px !important;
}

.v-container.maxWidth.py-sm-4.py-0 {
  border-bottom: 3px solid #3b9ffb !important;
  background-color: #2a5e73 !important;
}


img.mazenimg2.w-100 {
  margin-bottom: 10px !important;
  border-radius: 15px !important;
}




.v-container.maxWidth.py-sm-4.py-0 {
  border-bottom: 3px solid #ff0000 !important;
  background-color: #62ff00 !important;
}



.v-container.maxWidth.py-sm-4.py-0 {
  border-bottom: 3px solid #80ff00 !important;
  background-color: #ff0000 !important;
}


button.v-btn.v-btn--flat.v-theme--BLUE_THEME.v-btn--density-default.v-btn--size-default.v-btn--variant-text.custom-hover-primary.bg-primary.ml-2.login-btn {
  background: linear-gradient(to right, rgb(0 0 0),rgb(32 142 201))!important;
}
.underline-h2{
  position:relative;
  margin: 0 0 1.5em 0 !important;
}

.underline-h2:after {
  content: '';
  position: absolute;
  background-color: #121212;
  width: 30%;
  height: 5px;
  top: 38px;
  left: 116px;
}


.feature-item__icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
  /*display: inline-block;*/
  width: 50px;
  height: 50px;
  line-height: 43px;
  background-color: var(--main-text-color);
  color: #fff;
  border-radius: 50%;
  font-size: 24px;
  border: 1px solid var(--main-text-color);
  text-align: center;
  margin-bottom: -0.5rem;
}

.feature-item {
  padding: 0rem;
}

.feature_icon{
  font-size: 40px;
}


.img {
  height: auto;
  max-height: 25px;
  max-width: 45px;
  margin-left: -4%;
  margin-right: 13%;
  width: 50%;
  margin-top: 7px;

}

.footer {
  background-color: #182740;
  border: 2px solid #00e6e8 !important;
  color: #ffffff;
  text-align: center;
  border: 3px solid #292239;
  padding: 5px;
  border-radius: 20px 20px 20px 20px;
}


.text-subtitle-1 {
  color: #FF9F57 !important;
}

.footer {
  background-color: #182740;
  border: 2px solid #2a3546 !important;
  background: linear-gradient(to right, rgb(0, 57, 230),rgb(102, 140, 255))!important;
  color: #ffffff;
  text-align: center;
  border: 3px solid #292239;
  padding: 5px;
  border-radius: 20px 20px 20px 20px;
}

.text-subtitle-1 {
  color: #000000 !important;
}

button.v-btn.v-btn--flat.v-theme--BLUE_THEME.v-btn--density-default.v-btn--size-default.v-btn--variant-text.custom-hover-primary.bg-primary.ml-2.login-btn {
  background: linear-gradient(to right, rgb(0 0 0),rgb(32 142 201))!important;
}
